<!DOCTYPE html>
<html>
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>

  <main class="container">

    <h1><%-wiki.title%>  </h1>
    <% if(currentUser) {
      let collab;
      wiki.collaborators.forEach((col)=>{
      if(col.wikiId === wiki.id){
      collab = true
       }

      })
      if(currentUser.id===wiki.userId || collab){
        %>
        <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
        <% };
        if(currentUser.id===wiki.userId ){
          %>
        <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <%};
        if(currentUser.id===wiki.userId && currentUser.isPremium() === true){
          if (wiki.private===false){ %>
            <form style="display:initial" action="/wikis/<%= wiki.id %>/private" method="post">
              <button type="submit" class="btn btn-primary">Private</button>
            </form>
            <%  } else { %>
              <form style="display:initial" action="/wikis/<%= wiki.id %>/public" method="post">
                <button type="submit" class="btn btn-primary">public</button>
              </form>
              <% } %>
              <form style="display:initial" action="/wikis/<%= wiki.id %>/collab" method="post">
                <input class="form-control" type="text" name="collaborator" aria-describedby="titleHelp" placeholder="Add  Collaborators by Email">
                <button  type="submit" class="btn btn-primary">Collaborate</button>
              </form>

              <form style="display:initial" action="/wikis/<%= wiki.id %>/destroyCollab" method="post">
                  <input class="form-control" type="text" name="deleteCollaborator" aria-describedby="titleHelp" placeholder="Add  Collaborators by Email">
                <button  type="submit" class="btn btn-danger">Remove</button>
              </form>
              <%;};} %>

              <p><%- wiki.body %></p>
              <hr>
            </main>

            <% include ../static/partials/baseScripts.ejs %>

          </body>
          </html>
